.services{
    height: 800px;
}

.services .title{
    font-size: 26px;
    font-weight: 600;
}

.service-wrapper{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    position: relative;
    height: 670px;
}

.service{
    max-width: 380px;
    border-radius: 10px;
    width: 95%;
    height: 200px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: url(./background.svg);
    background-color: #000;
    background-size: contain;
    background-position: -10px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0))
}

.logo-wrap {
    font-size: 12px;
    height: 80%;
    width: 60px;
    display: flex;
    align-items: center;
}

.logo{
    height: 110px; 
}

.logo-wrap .l1 {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 78px;
    left: 55px;
    transform: rotate(-15deg);
}

.logo-wrap .l2 {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 78px;
    left: 34px;
    transform: rotate(-15deg);
}

.logo-wrap .l3 {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 78px;
    left: 35px;
    transform: rotate(-15deg);
}


.desc{
    font-weight: 700;
    font-size: 10px;
    width: 65%;
    height: 80%;
    text-align: start;
}

.d1{
    margin-left: 5px;
}

.d2{
    margin-left: 15px;
}

.d3{
    margin-left: 25px;
}

.d4{
    margin-left: 30px;
}

.services .lead {
    width: 75px;
    height: 25px;
    color: #ffd700;
    background-color: #000000;
    border-radius: 10px;
    border: 0;
    font-size: 10px;
    position: absolute;
    right: 15px;
    bottom: 8px;
    
}

.s-one {
    position: absolute;
    left: 10px;
    top: 10px;
}

.s-two {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.s-three{
    position: absolute;
    bottom: 10px;
    right: 10px;
}