.slider {
  overflow: hidden;
  position: relative;
}

.slider .slide-list {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}


.slider .slide-list .slide {
      flex: 1 0 100%;
      position: relative;
}

.slider .slide-list .slide .slide-image {
        display: flex;
        margin: 0 auto;
        max-height: 300px;
        width: 100%;
        object-fit: contain;
}

.slider .slide-list .slide .slide-title {
        text-align: center;
        margin-top: 10px;
}

/* ARROWS */
.slider .arrows {
  color: white;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  top: 30%;
  width: 100%;
  z-index: 1;
}

.slider .arrows .arrow {
  height: 30px;
  width: 30px;
}

.slider .arrows .arrow .left {
  background-image: url(./arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
  transform: rotate(180deg);
}

.slider .arrows .arrow .right {
  background-image: url(./arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}

.slider .arrows .arrow:hover {
  cursor: pointer;
}


  /* DOTS */
.slider .dots {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

.slider .dots .dot {
    background-color: #e7e7e7;
    border-radius: 5px;
    height: 10px;
    margin: 5px;
    width: 10px;
}

.slider .dots .dot:hover {
      cursor: pointer;
    }

.slider .dots .dot .selected {
      background-color: green;
}

