
.PS .section-black {
  display: flex;
  background-color: #000;
  background-size: auto 60px;
  background-repeat: repeat-x;
  background-position: center bottom;
  padding-bottom: 0px;
}



@media screen and (max-width: 1900px) {

}

@media screen and (max-width: 1600px) {
 
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 640px) {
 
}

@media screen and (max-width: 360px) {
 
}